<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Adventure McRae</title>
</head>


<body>
<script language="text/javascript">

var isBoy = "Let's pretend your name is Xavier";
var isGirl = "Let's pretend your name is Darcy";
var isLoveTown = “
var isHateTown =

var isHomeworkComplete = confirm(“You are thinking to yourself what would be the best way to learn to not be afraid of horror movies.  Are you finished all of your homework?”)

if (isHomeworkComplete) {
   //create and direct a horror movie to learn to not be petrified of horror movies
  ask the name ...and then start...and start with the small town

ok

}
else {


}

</script>
</body>
</html>
